.cbf-sidebar
    background-color: $color-primary-dark
    bottom: 0
    box-sizing: border-box
    padding: 12px
    position: absolute
    right: 0
    top: $status-height
    width: $sidebar-width
    z-index: 3

.cbf-sidebar__tabs
    border-bottom: 2px solid $color-light
    display: flex
    font-size: .9em
    margin-bottom: 12px
    overflow: hidden
    text-align: center

.cbf-sidebar__tab
    border-bottom: none
    border-radius: 8px 8px 0 0
    color: $color-light
    cursor: pointer
    padding: 4px 8px
    transition-duration: 300ms
    transition-property: background-color, color

.cbf-sidebar__tab--active
    background-color: $color-light
    color: $color-primary-dark
