.cbf-header
    align-items: center
    background-color: $color-primary
    box-shadow: $shadow
    box-sizing: border-box
    display: flex
    height: $header-height
    position: fixed
    top: 0
    width: 100%
    z-index: 1

.cbf-header__logo
    font-size: 40px
    font-weight: 700
    text-align: center
    text-shadow: 1px 0px 2px #385d5b
    transform: skew(-8deg, -8deg)
    width: 160px

    span
        &:nth-child(1)
            color: $color-light

        &:nth-child(2)
            color: $color-primary-lighter

        &:nth-child(3)
            color: $color-primary-light

.cbf-header__menu
    display: flex
    flex-grow: 1
    margin-left: 24px

.cbf-header__menu-item
    border-radius: 8px
    color: $color-light
    cursor: pointer
    margin-right: 24px
    padding: 8px 24px
    transition-duration: $t-duration
    transition-property: background-color, box-shadow
    transition-timing-function: $t-easing

.cbf-header__menu-item--active
    background-color: $color-secondary
    box-shadow: $shadow

.cbf-header__login
    display: flex
