.cbf-home__announcement-button
    margin-bottom: 24px

.cbf-home__announcement
    background-color: $color-white
    border: 2px solid $color-primary
    border-radius: 8px
    box-shadow: $shadow
    margin-bottom: 12px
    max-width: 960px
    padding: 12px

.cbf-home__announcement-title
    border-bottom: 1px dotted $color-primary
    font-size: 2em
    font-weight: bold

.cbf-home__announcement-text
    padding: 12px 0
    margin-bottom: 12px
    white-space: pre

.cbf-home__announcement-footer
    display: flex
    font-size: .8em
    justify-content: space-between

.cbf-home__announcement-author
    font-weight: bold

.cbf-home__announcement-date
    font-style: italic
