.cbf-arena
    bottom: 0
    left: 0
    position: fixed
    right: $sidebar-width
    top: #{$header-height + $status-height}

    *
        user-select: none

.cbf-arena__canvas
    width: 100%

.cbf-arena__canvas--moving
    cursor: move
