.cbf-helper-action
    cursor: pointer
    pointer-events: none
    position: relative

    &::before
        background-color: rgba(black, .3)
        border: 2px solid rgba(black, .6)
        border-radius: 4px
        bottom: 1px
        content: ""
        display: none
        left: 1px
        position: absolute
        right: 1px
        top: 1px
        transition: $t-duration $t-easing background-color

    &:hover::before
        background-color: rgba(black, .5)

.cbf-helper-game--awaits-action
    .cbf-helper-action--active
        pointer-events: all

        &::before
            display: block
