.cbf-helper-sidebar
    background-color: $color-primary-dark
    bottom: 0
    box-sizing: border-box
    padding: 12px
    position: fixed
    right: 0
    top: #{$header-height + $status-height}
    width: $sidebar-width
    z-index: 3

.cbf-helper-sidebar__history
    margin-top: 24px

.cbf-helper-sidebar__history-header
    border-bottom: 1px solid $color-light
    color: $color-light
    font-size: .9em
    padding-bottom: 4px
    text-align: center

.cbf-helper-sidebar__history-content
    display: flex
    flex-direction: column-reverse

.cbf-helper-sidebar__history-item
    background-color: $color-primary
    border-radius: 6px
    color: $color-primary-dark
    cursor: pointer
    font-size: .8em
    line-height: 1.5em
    margin-top: 12px
    padding: 4px 8px

.cbf-helper-sidebar__history-item--active
    background-color: $color-light
