.cbf-helper-sidebar
    background-color: $color-primary-dark
    bottom: 0
    box-sizing: border-box
    padding: 12px
    position: fixed
    right: 0
    top: #{$header-height + $status-height}
    width: $sidebar-width
    z-index: 3

.cbf-helper-sidebar__history
    display: flex
    flex-direction: column
    height: 100%

.cbf-helper-sidebar__history-header
    border-bottom: 1px solid $color-light
    color: $color-light
    font-size: .9em
    margin-bottom: 12px
    padding-bottom: 4px
    text-align: center

.cbf-helper-sidebar__history-content
    display: flex
    flex-direction: column-reverse
    overflow: auto

.cbf-helper-sidebar__history-item
    background-color: $color-primary
    border-radius: 6px
    color: $color-primary-dark
    cursor: pointer
    display: flex
    flex-shrink: 0
    font-size: .8em
    line-height: 1.5em
    margin-top: 6px
    padding: 4px 8px
    position: relative

.cbf-helper-sidebar__history-item--active
    background-color: $color-light

.cbf-helper-sidebar__history-item--group-start
    margin-bottom: 17px

    &::after
        background-color: $color-primary
        bottom: -12px
        content: ""
        height: 1px
        left: 0
        position: absolute
        width: 100%

.cbf-helper-sidebar__history-index
    align-items: center
    border-right: 1px solid $color-primary-dark
    display: flex
    flex-shrink: 0
    justify-content: center
    margin: 0 8px 0 -8px
    text-align: center
    width: 32px

.cbf-helper-sidebar__history-message
    flex-grow: 1
