.cbf-helper-status
    align-items: center
    background-color: $color-primary-dark
    color: $color-light
    display: flex
    height: $status-height
    left: 0
    position: fixed
    top: $header-height
    width: 100%
    z-index: 1

.cbf-helper-status__text
    display: flex
    flex-grow: 1
    justify-content: center
    text-align: center

.cbf-helper-status__options
    display: flex
    justify-content: center
    width: $sidebar-width
