.cbf-chat
    height: calc(100% - 40px)
    overflow: auto

    .cbf-ui-text-field
        margin-bottom: 8px

        input
            border: none
            width: 100%

.cbf-chat__content
    display: flex
    flex-direction: column

.cbf-chat__message
    font-size: .8em
    margin-bottom: 8px
    margin-right: auto
    max-width: 90%

.cbf-chat__message--mine
    margin-left: auto
    margin-right: 0
    text-align: right

    .cbf-chat__message-author
        color: $color-light

    .cbf-chat__message-text
        background-color: $color-light
        color: $color-primary-dark

    .cbf-chat__message-date
        color: $color-primary-light
        text-align: right

.cbf-chat__message-author
    color: $color-primary-darker
    font-weight: 700
    margin-bottom: 4px

.cbf-chat__message-text
    background-color: $color-primary
    border-radius: 8px
    color: $color-primary-darker
    display: inline-block
    padding: 4px 8px
    text-align: left

.cbf-chat__message-date
    color: $color-primary-dark
    font-size: .8em
    font-style: italic
    margin-top: 4px
