.cbf-ui-button
    background-color: $color-secondary
    border-radius: 8px
    box-shadow: $shadow
    color: $color-white
    cursor: pointer
    display: inline-block
    margin-right: 24px
    padding: 8px 24px

.cbf-ui-button--secondary
    background-color: $color-primary
    color: $color-white
    font-size: .8em
    margin-right: 12px
    padding: 4px 12px

.cbf-ui-button--disabled
    box-shadow: none
    color: $color-primary-dark
