.cbf-setup__option
    border: 2px solid $color-primary
    border-radius: 8px
    display: flex
    margin-bottom: 16px
    overflow: hidden

.cbf-setup__option-label
    background-color: $color-primary
    color: $color-light
    flex-shrink: 0
    padding: 12px
    width: 200px

.cbf-setup__option-inputs
    align-items: center
    background-color: $color-white
    color: $color-primary-dark
    display: flex
    flex-grow: 1
    flex-wrap: wrap
    padding: 12px

.cbf-setup__invited-player
    align-items: center
    background-color: $color-light
    border-radius: 16px
    box-sizing: border-box
    cursor: pointer
    display: flex
    height: 32px
    margin-right: 12px
    padding: 0 8px

    span
        font-weight: bold
        margin-left: 12px
