.cbf-game-lobby__players
    background-color: $color-white
    border: 2px solid $color-primary
    border-radius: 8px
    color: $color-primary-dark
    margin-bottom: 16px

.cbf-game-lobby__player
    align-items: center
    border-bottom: 2px solid $color-primary
    display: flex
    padding: 12px

    &:last-child
        border-bottom: none

.cbf-game-lobby__player-empty
    color: $color-primary
    font-style: italic

.cbf-game-lobby__player-admin
    font-weight: bold
    font-size: .7em
    margin-left: 16px
    text-transform: uppercase
    vertical-align: text-bottom
