@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

// width relative to arena width
@function aw($modifier)
    @return calc((100vw - #{$sidebar-width}) * (#{$modifier} / 100))

$color-primary: #74afad
$color-primary-dark: #558c89
$color-secondary: #d9853b
$color-light: #ececea
$color-white: #ffffff

$font-primary: Montserrat, sans-serif

$t-duration: 300ms
$t-easing: ease

$shadow: 0 2px 4px 0 rgba(0, 0, 0, .24)

$header-height: 80px
$sidebar-width: 300px
