@mixin on-circle($item-count, $circle-size)
    width: $circle-size
    height: $circle-size

    > div
        $angle: (360 / $item-count)
        $rot: 0

        @for $i from 1 through $item-count
            &:nth-of-type(#{$i})
                transform: rotate($rot * 1deg) translate(calc(#{$circle-size} / 2)) rotate($rot * -1deg)

            $rot: $rot + $angle

.azul__game
    display: flex
    height: 1900px
    position: relative
    width: 1000px

    .azul--player-count-3 &,
    .azul--player-count-4 &
        width: 1398px

.azul__player-area
    height: 475px
    position: relative

.azul__board-wrapper
    background-image: linear-gradient(to top left, #265f75, #76cbd7)
    border-radius: 4px
    height: 475px
    left: 50%
    position: absolute
    top: 0
    transform: translateX(-50%)
    width: 466px

.azul__board
    background-image: url('/img/games/azul/board.png')
    background-repeat: no-repeat
    background-size: contain
    bottom: 4px
    left: 4px
    position: absolute
    right: 4px
    top: 4px

    .cbf-helper-player-area--player-1 &,
    .cbf-helper-player-area--player-2 &
        transform: rotate(180deg)

        .azul__tile
            transform: rotate(180deg)
            transform-origin: 50% 90%

.azul__score-marker
    background-color: #353535
    border: 2px solid #505050
    border-bottom-color: #000000
    border-radius: 2px
    border-right-color: #000000
    box-sizing: border-box
    height: 20px
    left: 0
    position: absolute
    transform-style: preserve-3d
    top: 0
    width: 20px

    &::before
        background: #262626
        border: inherit
        border-top: none
        border-radius: 2px
        box-shadow: 8px 0px 1px 0px rgba(black, 0.3)
        box-sizing: border-box
        content: ""
        height: 20px
        left: -2px
        position: absolute
        top: 12px
        width: 20px
        transform: translateZ(-1px)

    .cbf-helper-player-area--player-1 &,
    .cbf-helper-player-area--player-2 &
        transform: rotate(180deg)
        transform-origin: 50% 120%

.azul__pattern-lines
    display: flex
    flex-direction: column-reverse
    height: 205px
    left: 20px
    position: absolute
    top: 152px
    width: 200px

    .azul__pattern-line
        flex-direction: row-reverse

.azul__pattern-line
    display: flex
    height: 36px
    justify-content: flex-start
    margin-bottom: 5px

    > div
        margin: 0 1.7px

.azul__wall
    left: 240px
    position: absolute
    top: 152px

    .azul__tile
        left: 0
        position: absolute
        top: 0

.azul__floor-line
    display: flex
    height: 36px
    left: 23px
    position: absolute
    top: 383px
    width: 296px

    .azul__tile
        margin-right: 7px

.azul__hand
    bottom: 16px
    display: flex
    flex-direction: column
    height: 475px
    justify-content: center
    left: calc(50% - 320px)
    position: absolute

    .azul__tile
        margin: 4px 0

.azul__factory
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)

.azul__factory-circle
    border-radius: 50%
    padding: 0
    position: relative
    margin: 84px

.azul__factory--display-count-5
    .azul__factory-circle
        @include on-circle($item-count: 5, $circle-size: 460px)

    .azul__factory-center
        height: 250px
        margin: 190px 0 0 222px
        width: 230px

.azul__factory--display-count-7
    .azul__factory-circle
        @include on-circle($item-count: 7, $circle-size: 540px)

    .azul__factory-center
        height: 230px
        margin: 238px 0 0 210px
        width: 320px

.azul__factory--display-count-9
    .azul__factory-circle
        @include on-circle($item-count: 9, $circle-size: 620px)

    .azul__factory-center
        height: 14vw
        margin: 7vw
        width: 14vw

.azul__factory-display-wrapper
    background-image: linear-gradient(to top left, #7d411a, #e2a57e)
    border-radius: 100%
    height: 168px
    left: 50%
    margin: -84px
    position: absolute
    top: 50%
    width: 168px

.azul__factory-display
    align-items: center
    background-image: url('/img/games/azul/factory.png')
    background-repeat: no-repeat
    background-size: contain
    bottom: 4px
    justify-content: center
    left: 4px
    position: absolute
    right: 4px
    top: 4px

    > div
        position: absolute

        &:nth-child(1)
            left: 40px
            top: 30px

        &:nth-child(2)
            right: 40px
            top: 30px

        &:nth-child(3)
            left: 40px
            bottom: 50px

        &:nth-child(4)
            right: 40px
            bottom: 50px

.azul__factory-center
    align-content: center
    align-items: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    left: 0
    position: absolute
    top: 0

    > div
        margin: 4px

.azul__tile
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    border: 2px solid black
    border-radius: 6px
    box-sizing: border-box
    height: 36px
    position: relative
    width: 36px
    transform-style: preserve-3d

    &::before
        background: inherit
        border: inherit
        border-top: none
        border-radius: 8px
        box-shadow: 8px 0px 1px 0px rgba(black, 0.3)
        box-sizing: border-box
        content: ""
        height: 36px
        left: -2px
        position: absolute
        top: 12px
        width: 36px
        transform: translateZ(-1px)

.azul__tile-0
    background-image: url('/img/games/azul/tile-white.png')
    border-color: #8ccac2
    border-bottom-color: #4aa99e
    border-right-color: #4aa99e

    &::before
        background: #5ebfb4

.azul__tile-1
    background-color: #f1ab01
    background-image: url('/img/games/azul/tile-yellow.png')
    background-size: 88%
    border-color: #ffc94c
    border-bottom-color: #bf8600
    border-right-color: #bf8600

    &::before
        background: #dc9a00

.azul__tile-2
    background-color: #3b89a6
    border-color: #6bb0ca
    border-bottom-color: #225a6f
    border-right-color: #225a6f

    &::before
        background: #30738c

.azul__tile-3
    background-color: #ea213b
    border-color: #ff6378
    border-bottom-color: #b11429
    border-right-color: #b11429

    &::before
        background: #d01a33

.azul__tile-4
    background-color: #191415
    background-image: url('/img/games/azul/tile-black.png')
    background-size: 88%
    border-color: #3d4e4e
    border-bottom-color: #000000
    border-right-color: #000000

    &::before
        background: #1d1f1f

.azul__tile-5
    background-image: url('/img/games/azul/first-player.png')
    border-color: #e3e6ea
    border-bottom-color: #b0bbce
    border-right-color: #b0bbce

    &::before
        background: #cad2e0
