@keyframes pulse
    90%
        background-position: 0% 50%
    100%
        background-position: 100% 50%

.cbf-helper-action
    cursor: pointer
    pointer-events: none
    position: absolute
    z-index: 100

    &::before
        animation-duration: 5s
        animation-iteration-count: infinite
        animation-fill-mode: both
        animation-timing-function: linear
        animation-name: pulse
        animation-play-state: paused
        background-image: linear-gradient(-45deg, rgba(white, .4) 0%, rgba(white, .4) 40%, rgba(white, .7) 50%, rgba(white, .4) 60%, rgba(white, .4) 100%)
        background-position: 0% 50%
        background-size: 400%
        border: 1px solid #2092db
        border-radius: 2px
        bottom: -3px
        content: ""
        display: none
        left: -3px
        position: absolute
        right: -3px
        top: -3px
        transition: $t-duration $t-easing background-color
        z-index: 1

    &:hover::before
        background-color: rgba(white, .5)

.cbf-helper-game--awaits-action
    .cbf-helper-action--active
        pointer-events: all

        &::before
            animation-play-state: running
            display: block

    .cbf-helper-action--selected
        &::before
            border-color: $color-primary
            border-style: solid
