.five-tribes__board
    width: 80%

.five-tribes__board-row
    display: flex

.five-tribes__tile
    background-color: #efb26c
    border-radius: 10%
    height: 0
    margin: .5%
    padding-bottom: 15.66%
    position: relative
    width: 15.66%

.five-tribes__tile-value
    align-items: center
    border-radius: 100%
    color: $color-white
    display: flex
    height: 25%
    justify-content: center
    position: absolute
    right: 2%
    top: 2%
    width: 25%

.five-tribes__tile-value--blue
    background-color: #157f9d

.five-tribes__tile-value--red
    background-color: #bf3935

.five-tribes__tile-action
    bottom: 5%
    font-size: .7em
    left: 10%
    position: absolute
