.five-tribes
    display: flex
    width: aw(100)

.five-tribes__game
    display: flex
    flex-direction: column
    width: aw(70)

.five-tribes__top
    display: flex
    justify-content: space-between
    margin-bottom: aw(2)
    width: 100%

.five-tribes__left
    align-items: center
    display: flex
    flex-direction: column

.five-tribes__tracks
    display: flex
    font-size: 1.5em
    height: aw(3.5)
    justify-content: center
    margin-bottom: aw(2)

    > div
        align-items: center
        background-color: #efb26c
        border-radius: aw(.5)
        box-shadow: $shadow
        display: flex
        margin: 0 aw(2)

.five-tribes__track-item
    align-items: center
    background-color: rgba(255, 255, 255, .3)
    border-radius: 100%
    display: flex
    flex-shrink: 0
    height: aw(3)
    justify-content: center
    margin: 0 aw(0.2)
    position: relative
    width: aw(3)

.five-tribes__track-player
    border-radius: 100%
    box-shadow: $shadow
    height: 80%
    left: 10%
    opacity: .8
    position: absolute
    top: 10%
    width: 80%

.five-tribes__player-0
    background-color: #7dcee2

.five-tribes__player-1
    background-color: #f1bed7

.five-tribes__board
    display: flex
    flex-direction: column
    height: aw(45)
    width: aw(54)

.five-tribes__board-row
    align-items: stretch
    display: flex
    flex-grow: 1
    height: 20%

.five-tribes__tile
    background-color: #efb26c
    border-radius: 10%
    box-shadow: $shadow
    flex-grow: 1
    margin: aw(.3)
    position: relative

.five-tribes__tile-value
    align-items: center
    border-radius: 100%
    color: $color-white
    display: flex
    font-size: 1.2em
    height: 25%
    justify-content: center
    position: absolute
    right: 3%
    top: 3%
    width: 25%

.five-tribes__tile-value--blue
    background-color: #1869aa

.five-tribes__tile-value--red
    background-color: #ce3c2c

.five-tribes__tile-action
    bottom: 5%
    font-size: .9em
    left: 10%
    position: absolute

.five-tribes__tile-meeples
    align-items: center
    display: flex
    flex-wrap: wrap
    height: 50%
    justify-content: center
    left: 0
    position: absolute
    top: 25%
    width: 100%

.five-tribes__tile-camel
    border-radius: 100%
    box-shadow: $shadow
    height: 25%
    position: absolute
    left: 3%
    top: 3%
    width: 25%

.five-tribes__tile-buildings
    bottom: 5%
    font-size: 1.4em
    font-weight: bold
    right: 10%
    position: absolute
    text-shadow: 0 2px 3px rgba(0, 0, 0, .5)

.five-tribes__tile-palm-tree
    color: #c29bc6

.five-tribes__tile-palace
    color: #e4b62d

.five-tribes__meeple
    box-shadow: $shadow
    display: inline-block
    height: aw(1)
    margin: aw(0.5)
    vertical-align: bottom
    width: aw(1)

.five-tribes__meeple--Vizier
    background-color: #e8cd2d

.five-tribes__meeple--Elder
    background-color: #ede9e1

.five-tribes__meeple--Builder
    background-color: #1869aa

.five-tribes__meeple--Merchant
    background-color: #3a9e39

.five-tribes__meeple--Assassin
    background-color: #ce3c2c

.five-tribes__hand
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center

    .five-tribes__meeple
        height: aw(2)
        width: aw(2)

.five-tribes__market
    display: flex
    width: 100%

.five-tribes__resource
    background-color: #c4dc91
    border-radius: aw(1)
    box-shadow: $shadow
    display: inline-block
    height: aw(9)
    margin: aw(.5)
    position: relative
    width: aw(6)

    .cbf-helper-player &
        border-radius: aw(.7)
        height: aw(6)
        font-size: .7em
        margin: aw(.2)
        width: aw(4)

.five-tribes__resource--fakir
    background-color: #f6e7ac

.five-tribes__resource--deck
    background-color: #824d54
    color: $color-light

.five-tribes__resource-name
    align-items: center
    box-sizing: border-box
    display: flex
    font-size: 1em
    height: 100%
    left: 0
    justify-content: center
    padding: 10%
    position: absolute
    text-align: center
    top: 0
    width: 100%

.five-tribes__resource-frequency
    bottom: 5%
    font-size: .8em
    position: absolute
    text-align: center
    width: 100%

.five-tribes__djinns
    display: flex
    flex-direction: column
    justify-content: space-between

.five-tribes__djinn
    align-items: center
    background-color: #b4b9a0
    border-radius: aw(1)
    box-shadow: $shadow
    box-sizing: border-box
    display: flex
    height: aw(10)
    justify-content: center
    margin: aw(.3)
    padding: aw(1)
    position: relative
    text-align: center
    width: aw(10)

    .cbf-helper-player &
        border-radius: aw(.66)
        height: aw(6.66)
        font-size: .7em
        margin: aw(.2)
        padding: aw(.66)
        width: aw(6.66)

.five-tribes__djinn--deck
    background-color: #925b2d
    color: $color-light

.five-tribes__djinn-name
    font-size: 1.3em

.five-tribes__djinn-value
    align-items: center
    background-color: #ce3c2c
    border-radius: 100%
    color: $color-white
    display: flex
    font-size: 1.2em
    height: 20%
    justify-content: center
    position: absolute
    right: 3%
    top: 3%
    width: 20%

.five-tribes__players
    margin-left: aw(2)
    width: aw(30)
